.scheduler {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 70vh;
    width: 100%;
    border: 1px solid black;
}

.timeSlots{
    display:flex ;
    flex-wrap: wrap;
}

.form-style{
    padding: 20px;
    background-color: white;
    height: 100%;
}

.times{
    padding: 50px;
}

.checker{
    width: 40px;
    height: 40px;
}
